h1{
    text-align: center;
    padding-top: 10px;
    text-decoration: solid;
    color: #31302e;
}
/* Cuerpo */
body{
    background-color: #ffffff;
}

/* ANIMACIÓN */
.banner{
    width: 100%;
    height: 40vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
    from{
        transform:perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform:perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(150px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN */
.info-main{
    color: #ffff;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

/* Productos hover */
.container-cards{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    cursor: default;
    transition: all 0.2s ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
    transform: translateY(-1%);
}
.card img{
    width: 50%;
}
.card .contenido{
    padding: 15px;
}
.card .contenido p{
    line-height: 1.5;
    color: #232221;
    text-align: justify;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
    color: #232221;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #232221;
    border: 1px solid #232221;
    border-radius: 2px;
    transition: all 0.2s ease;
}
.card .contenido a:hover{
    border: 1px solid #b22028;
    background: #b22028;
    color: #ffffff;
}

/* Carrusel */
.carrusel_c{
    justify-content: center;
}
