body{
    background-color: #ffffff;
}
body p{
    text-align: center;
}
h1{
    text-align: center;
    background-color: #eeede3;
}
h2{
    text-align: center;
    color: #b22028;
}

main{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
main img{
    padding-top: 20px;
}
main p{
    text-align: justify;
}

.img-logo{
    display: flex;
    justify-content: center;
}

/* Forms */
.contenedor-all{
    padding-left: 25%;
    padding-right: 25%;
}
.contenedor-forms{
    border-radius: 4px;
    background-color: #eeede3;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.forms{
    margin: 25px;
    background-color: #eeede3;
}
