body{
    background-color: #ffffff;
}
body p{
    text-align: center;
}
h1{
    text-align: center;
    background-color: #eeede3;
}
h2{
    text-align: center;
    color: #b22028;
}

main{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
main img{
    padding-top: 20px;
}
main p{
    text-align: justify;
}

.img-logo{
    display: flex;
    justify-content: center;
}

/* Forms */
.contenedor-all{
    padding-left: 30%;
    padding-right: 30%;
}
.form-reg{
    padding: 10%;
    border-radius: 4px;
    background-color: #eeede3;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.form-reg label{
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 2px;
}
.form-reg input{
    padding-top: 5px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    border: solid #ffffff;
    border-radius: 6px;
}
.form-reg input:hover{
    border: solid #ffffff;
}
.boton-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    background-color: #232221;
    color: #ffffff;
    transition: all 0.6s ease;
}
.boton-submit:hover{
    background-color: #e0c565;
    color: #ffffff;
}