@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1{
    text-align: center;
    padding-top: 10px;
    text-decoration: solid;
    color: #31302e;
}
/* Cuerpo */
body{
    background-color: #ffffff;
}

/* TODA LA BARRA DE NAVEGACIÓN */
.nav{
    width: 100%;
    background-color:  #ffffff;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

/* Diseño del Logo de la Nav */
.logo{
    padding-left: 5px;
    padding-right: 10px;
}
.logo a{
    transition: all 0.2s ease-in-out;
}
.logo a:hover{
    padding: 5px 5px;
}

/* Menú interactuable */
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 10px;
}
.menu li a{
    color: #31302e;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.menu li a:hover{
    padding: 5px 10px;
    background: #b22028;
    color: #ffff;
    border-radius: 2px;
}

/* Barra de Búsqueda */
.barra-busqueda{
    padding: 20px;
    position: absolute;
    right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-buscar{
    background-color: #b22028;
    border-color: #b22028;
    color: white;
}

/* Botón Diseño Responsive */
.res-btn:hover{
    border-color: #b22028;
    color: #b22028;
}
.res-icon:hover{
    color: #b22028;
}

/* Contenido */
.contenido{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

/* Footer */
h3{
    color: #232221;
}
footer{
    background-color: #eeede3;
    text-align: center;
    padding: 20px 0;
}
footer a{
    color: #232221;
    font-size: 16px;
}
footer a:hover{
    color: #e0c565;
}
.nuestras-redes{
    display: flex;
    justify-content: center;
}
.redes{
    padding-left: 15px;
    padding-right: 15px;
}
.redes i{
    padding-left: 10px;
    padding-right: 10px;
    color: #232221;
    font-size: 24px;
}
.redes i:hover{
    color: #e0c565;
}
.cuadrado{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.cuadrado svg{
    color: #232221;
    margin: 5px;
}

.licencias{
    display: flex;
    justify-content: center;
    align-items: center;
}
.licencias img{
    margin: 10px;
}

/* BARRA LATERAL SCROLL */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #eeede3;
}

::-webkit-scrollbar-thumb{
    background: #b22028;
    border-radius: 2px;
}
