h1{
    text-align: center;
    padding-top: 10px;
    text-decoration: solid;
    color: #31302e;
}
/* Cuerpo */
body{
    background-color: #ffffff;
}

/* Contenido */
.contenido{
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
